<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8" />
	    <title>list</title>
	</head>
	<body>	
		<table border="1" class = "list">
			<tr>
				<th>id</th>
				<th>製品名</th>
			</tr>
			<tr th:each="smartphone : ${smartphone}">
				<td th:text="${smartphone.id}">id</td>
				<td th:text="${smartphone.name}">id</td>
				<td>
					<form method="post">
							<input type="hidden" name="id" th:value="${smartphone.id}" />
							<a th:href="@{'/smartphone/show/' + ${smartphone.id}}">参照</a>
					</form>
				</td>
				<td>
					<a th:href="@{'/smartphone/edit/' + ${smartphone.id}}">編集</a>
				</td>
				<td>
					<form method="post">
							<input type="hidden" name="id" th:value="${smartphone.id}" />
							<a th:href="@{'/smartphone/delete/' + ${smartphone.id}}">削除</a>
					</form>
				</td>		
			</tr>
		</table>
		
		<br />
	
		<a th:href="@{/smartphone/new}">新規作成</a>	
	</body>
</html>
